<extend name="Public/base"/>

<block name="link">
  <link rel="stylesheet" type="text/css" href="__CSS__/mainLayout.css" media="all">
</block>

<!-- 页面子导航 -->
<block name="nav">
  <div class="breadcrumb">
    <span>您的位置:</span>
    <div>
      <a href="{:u('dev/newdevlist')}">开发管理</a>
      <span class="divider">/</span>
    </div>
    <div>
      <a href="{:u('dev/newdevlist')}">新产品开发计划</a>
      <span class="divider">/</span>
    </div>
    <div>新产品开发计划详情</div>
  </div>

<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/new.css" media="all">
</block>
<block name="body">
    

    <!-- 标题栏 -->
    <div class="item-title">产品信息</div>
    <form action="__SELF__" method="post" class="form-horizontal">
        <div class="search-content-wrap edit-box">
            <div class="item">
                <span class="item-label">计划编号：</span>
                <input readonly placeholder="系统自动生成" type="text" value='{$newproduct.plan_code}' />
            </div>
             <div class="item">
                <span class="item-label">产品名称：</span>
                <input style="" name="product_name"  type="text" value='{$newproduct.product_name}' />
                
               
            </div>
            <div class="item">
                <span class="item-label">产品类型：</span>
                <if condition="$newproduct.product_type eq '1'">
                    <input style="" name="product_type"  type="text" value='新产品' />
                <elseif condition="$newproduct.product_type eq '2'" />
                    <input style="" name="product_type"  type="text" value='新增模块' />
                </if>
            </div>

            <div class="item">
                    <span class="item-label">启动日期：</span>
                    <input  id=""  name="start_time"  type="date" value='{$newproduct.start_time}' />
            </div>

            <div class="item">
                    <span class="item-label">预计完成日期：</span>
                    <input   id="" type="date" name="end_time" value='{$newproduct.end_time}' />
            </div>

            <div class="item">
                <span class="item-label">预计人天：</span>
                <input  id="" type="text" name="manday" value='{$newproduct.manday}' />
            </div>

            <div class="item">
                <span class="item-label">开发负责人：</span>
                <input  id="" type="text" name="manday" value='{$newproduct.nickname}' />
            </div>

            <div class="item">
                    <span class="item-label">情况说明：</span>
                    <textarea name="describe">{$newproduct.describe}</textarea>
            </div>

        </div>

        <div class="item-title">开发计划</div>
        <div class="info-box fee edit-box">
            <div class="cell">
                <p class="sub-title">第一阶段：</p>
                <div class="content-box">
                    <div class="item">
                        <span class="item-label">开发阶段：</span>
                            <input style="" readonly name="data[0][product_jd]"  type="text" value='{$newproduct.product_jd}' />
                    </div>
                    <div class="item">
                        <span class="item-label">开发期间：</span>
                        <input type="date" name="data[0][stime]">
                        <span class="spacing">至</span>
                        <input type="date" name="data[0][etime]">
                    </div>
                    <div class="item">
                        <span class="item-label">开发人天：</span>
                        <input type="text" name="data[0][manday]">
                    </div>
                    <div class="item">
                        <span class="item-label">预计费用：</span>
                        <input type="text" name="data[0][PhasesFee]">
                    </div>
                    <div class="item">
                        <span class="item-label">开发人员：</span>
                        
                        <select id="" name="data[0][coder]">
                            <option  value ="">.....</option>
                            <volist  name="devs1" id="vo">
                                <option name="dev_role" value ="{$vo.uid}">{$vo.nickname}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="item">
                        <span class="item-label">备注：</span>
                        <textarea name="data[0][remark]"></textarea>
                    </div>
                    <div class="item">
                        <button type="button" class="btn add-btn">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-title">其他信息</div>
        <div class="info-box other-info edit-box">
            <div class="other1-box">
                <div class="textarea-box cell">
                    <div class="item">
                        <span>备注1：</span>
                        <textarea name="data1[0][remark]"></textarea>
                    </div>
                    <div class="item">
                        <button type="button" class="btn add-btn other1">+</button>
                    </div>
                </div>
            </div>
            <div class="other2-box">
                <div class="file-box cell">
                    <div class="item">
                        <span>附件上传：</span>
                        <input type="file" name="data2[0]['accessory']">
                    </div>
                    <div class="item">
                        <button type="button" class="btn add-btn other2">+</button>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>


    <!-- 标题栏 -->
    <div class="main-title">
        <h2></h2>
    </div>

</block>
<block name="script">
<script type="text/javascript">
$(function(){

    // $("#customer").change(function() {
        
    //     var customer=$(this).val();
    //     console.log(customer);
    //     // Ajax提交数据
    //     // return;
    //     $.ajax({
    //         url: "{:U('Tech/get_transferProject')}",    // 提交到controller的url路径
    //         type: "post",    // 提交方式
    //         data: {"customer": customer},  // data为String类型，必须为 Key/Value 格式。
    //         dataType: "json",    // 服务器端返回的数据类型
    //         success: function (data) { 
    //             $("#project_id").empty(); 
    //             console.log(data);
    //             let str=`<option  value ="">.....</option>`;
    //             data.map(item=>{
    //                 str+=`<option value='${item.id}'>${item.project_name}</option>`;
    //             });
    //             $("#project_id").append(str);
    //             // $("#products").val(data[0]['project_productlist']);

    //         },
    //     });
    // });

    $("#project_id").change(function() {
        var project_id=$(this).val();
        console.log(project_id);
        // return;
        // Ajax提交数据
        // return;
        $.ajax({
            url: "{:U('Tech/get_transferProjectMess')}",    // 提交到controller的url路径
            type: "post",    // 提交方式
            data: {"project_id": project_id},  // data为String类型，必须为 Key/Value 格式。
            dataType: "json",    // 服务器端返回的数据类型
            success: function (data) { 
                console.log(data);
                $("#products").val(data.project_productlist); 
                $("#fee").val(data.contract_fee); 
                $("#province").val(data.province); 
                $("#start_time").val(data.start_time); 
                $("#end_time").val(data.end_time);
                $("#salesRole").val(data.salesRole);
                $("#TechRole").val(data.TechRole);
            },
        });
        
    });

    function DX(n) {
        if (!/^(0|[1-9]\d*)(\.\d+)?$/.test(n))
            return "数据非法";
        return '一二三四五六七八九'.charAt(n);
    }

    var index = 1,index1 = 1,index2 = 1;
    //声明添加信息函数
    function addLitoUl(obj,i){
        var html = '';
        if (i === 1) {
            html = `<div class="textarea-box cell">
                        <div class="item">
                            <span>备注1：</span>
                            <textarea name="data1[${index1}][remark]"></textarea>
                        </div>
                        <div class="item">
                            <button type="button" class="btn add-btn other1">+</button>
                            <button type="button" class="btn del-btn other1">-</button>
                        </div>
                    </div>`;
            $('.other1-box').append(html);
            index1 += 1; 
        } else if (i === 2) {
            html = `<div class="file-box cell">
                        <div class="item">
                            <span>附件上传：</span>
                            <input type="file" name="data2[${index2}][accessory]">
                        </div>
                        <div class="item">
                            <button type="button" class="btn add-btn other2">+</button>
                            <button type="button" class="btn del-btn other2">-</button>
                        </div>
                    </div>`;
            $('.other2-box').append(html);
            index2 += 1; 
        } else {
            html += `<div class="cell">
                <p class="sub-title">第${DX(index)}阶段：</p>
                <div class="content-box">
                    <div class="item">
                        <span class="item-label">开发阶段：</span>
                            <input style="" readonly name="data[${index}][product][]"  type="text" value='{$newproduct.product_name}' />
                    </div>
                    <div class="item">
                        <span class="item-label">开发期间：</span>
                        <input type="date" name="data[${index}][stime]">
                        <span class="spacing">至</span>
                        <input type="date" name="data[${index}][etime]">
                    </div>
                    <div class="item">
                        <span class="item-label">开发人天：</span>
                        <input type="text" name="data[${index}][manday]">
                    </div>
                    <div class="item">
                        <span class="item-label">预计费用：</span>
                        <input type="text" name="data[${index}][PhasesFee]">
                    </div>
                    <div class="item">
                        <span class="item-label">开发人员：</span>
                        <select id="" name="data[${index}][coder]">
                            <option  value ="">.....</option>
                            <volist  name="devs1" id="vo">
                                <option value ="{$vo.uid}">{$vo.nickname}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="item">
                        <span class="item-label">备注：</span>
                        <textarea name="data[${index}][remark]"></textarea>
                    </div>
                    <div class="item">`;          

            if (index < 3) {
                html += '<button type="button" class="btn add-btn">+</button>';
            }
            html +='<button type="button" class="btn del-btn">-</button></div></div></div>'
            $('.fee').append(html);
            index += 1; 
        }
        obj.parent().addClass('hide');
    }

    //给button绑定添加信息点击事件
    $('.info-box').on('click', '.add-btn', function() {
        if ($(this).hasClass('other1')) {
            addLitoUl($(this),1)
        } else if ($(this).hasClass('other2')) {
            addLitoUl($(this),2)
        } else {
            addLitoUl($(this))
        }
    });

    $('.info-box').on('click', '.del-btn',function(){
        let parant = '';
        if ($(this).hasClass('other1')) {
            parent = $(".other1-box").find(".cell").eq(index1-2);
            index1 -= 1;
        } else if ($(this).hasClass('other2')) {
            parent = $(".other2-box").find(".cell").eq(index2-2);
            index2 -= 1;
        } else {
            parent = $(".info-box").find(".cell").eq(index-2);
            index -= 1;
        }
        parent.find('div.hide').removeClass('hide');
        $(this).parents('.cell').remove();  
    })

    $("#action_add").click(function(){
        window.location.href = $(this).attr('url');
    })

    //搜索功能
    $("#search").click(function() {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        window.location.href = url;
    });
    //回车搜索
    $(".search-input").keyup(function(e) {
        if (e.keyCode === 13) {
            $("#search").click();
            return false;
        }
    });
})
</script>


</block>