<extend name="Public/base"/>

<block name="link">
  <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="__STATIC__/datetimepicker/css/datetimepicker.css">
  <link rel="stylesheet" href="__STATIC__/datetimepicker/css/datetimepicker_blue.css">
  <link rel="stylesheet" type="text/css" href="__CSS__/mainLayout.css">
  <link rel="stylesheet" type="text/css" href="__CSS__/new.css">
</block>

<block name="style">
  <style>
    .edit_label {
      width: 85px;
    }
  </style>
</block>

<!-- 页面子导航 -->
<block name="nav">
  <div class="breadcrumb">
    <span>您的位置:</span>
    <div>
      <a href="{:u('custom/index')}">合同管理</a>
      <span class="divider">/</span>
    </div>
    <div>
      <a href="{:u('contract/contract_transfer')}">项目交接</a>
      <span class="divider">/</span>
    </div>
    <div>{$info['id']?'编辑':'新增'}项目交接记录</div>
  </div>
</block>

<block name="body">
  <div class="newly">
    <form action="__SELF__" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="edit_title">项目信息</div>
      <div class="edit_main">
        <div class="edit_items">
          <label class="edit_label">客户名称：</label>
          <div class="edit_info">
            <select id="customer" name="customers" class="selectpicker" data-width="172" title="请选择" data-size="6" data-live-search="true" data-live-search-placeholder="Search">
              <volist name="customers" id="vo">
                <option value="{$vo.id}">{$vo.customer}</option>
              </volist>
            </select>
          </div>
        </div>
        <div class="edit_items">
          <label class="edit_label">项目|商业：</label>
          <div class="edit_info">
            <select id="project" name="project_id" class="selectpicker" data-width="172" title="请选择" data-size="6">
              <!-- <volist name="projects" id="vo">
                <option value="{$vo.id}">{$vo.project_name}</option>
              </volist> -->
            </select>
          </div>
        </div>
        <div class="edit_items">
          <label class="edit_label">合同编号：</label>
          <div class="edit_info">
            <!-- <input readonly id="contract_code" name="contract_code" type="text" value='{$project.project_code}'/> -->
            <select id="contract_code" name="contract_code" class="selectpicker" data-width="172" title="请选择" data-size="6">
              <!-- <volist name="projects" id="vo">
                <option value="{$vo.id}">{$vo.project_name}</option>
              </volist> -->
            </select>
          </div>
        </div>
        <div class="edit_items">
          <label class="edit_label">合同金额(元)：</label>
          <div class="edit_info">
            <input readonly id="contract_fee" name="contract_fee" type="text" value='{$project.contract_fee}'/>
          </div>
        </div>
        <!-- <div class="edit_items">
          <label class="edit_label">客户名称：</label>
          <div class="edit_info">
            <input readonly id="customer" type="text" value='{$project.project_code}'/>
          </div>
        </div> -->


        <div class="edit_items">
          <label class="edit_label">项目类型：</label>
          <div class="edit_info">
            <input readonly id="project_type" type="text" value='{$project.project_type}'/>
          </div>
        </div>
        <!-- <div class="edit_items">
          <label class="edit_label">项目地区：</label>
          <div class="edit_info">
            <input readonly id="province" type="text" value=''/>
          </div>
        </div> -->

        <div class="edit_items">
          <label class="edit_label">采购产品：</label>
          <div class="edit_info">
            <input readonly id="project_productlist" name="project_productlist" type="text" value=''/>
          </div>
        </div>
        <div class="edit_items">
          <label class="edit_label">项目简介：</label>
          <div class="edit_info">
            <textarea id="project_discribe" name="data[0][remark]"></textarea>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">定制开发：</label>
          <div class="edit_info">
            <input id="project_custom" type="text" name="project_custom[]" value=''/>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">关键客户人：</label>
          <div class="edit_info">
            <input type="text" name="keyCustom" value=''/>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">联系电话：</label>
          <div class="edit_info">
            <input type="text" name="link_phone" value=''/>
          </div>
        </div>
        <div class="edit_items">
          <label class="edit_label">项目风向评估：</label>
          <div class="edit_info">
            <select name="ProjectRishLevel" class="selectpicker" data-width="172" title="请选择" data-size="6">
              <option value="0">低</option>
              <option value="1">中</option>
              <option value="2">高</option>
            </select>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">项目风险：</label>
          <div class="edit_info">
            <textarea name="ProjectRishDescribe"></textarea>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">客户期望：</label>
          <div class="edit_info">
            <select name="CustomerExpectLevel" class="selectpicker" data-width="172" title="请选择" data-size="6">
              <option value="0">低</option>
              <option value="1">中</option>
              <option value="2">高</option>
            </select>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">竞争对手情况：</label>
          <div class="edit_info">
            <textarea name="Project_opponents"></textarea>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">客户IT现状：</label>
          <div class="edit_info">
            <textarea name="CustomerITNow"></textarea>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">是否系统集成：</label>
          <div class="edit_info">
            <select name="IsSI" class="selectpicker" data-width="172" title="请选择" data-size="6">
              <option value="0">否</option>
              <option value="1">是</option>
            </select>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">进场日期：</label>
          <div class="edit_info">
            <div class="date form_datetime">
              <span class="add-on"><i class="icon-th glyphicon glyphicon-calendar"></i></span>
              <input type="text" class="date" name="EnterTime" placeholder="选择日期" readonly>
            </div>
          </div>
        </div>

        <div class="edit_items">
          <label class="edit_label">开业日期：</label>
          <div class="edit_info">
            <div class="date form_datetime">
              <span class="add-on"><i class="icon-th glyphicon glyphicon-calendar"></i></span>
              <input type="text" class="date" name="OpenTime" placeholder="选择日期" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="edit_title">项目组成员信息</div>
      <div class="edit-box fee">
        <div class="cell">
          <div class="edit_items">
            <label class="edit_label">销售经理：</label>
            <div class="edit_info">
              <select name="salesRole" class="selectpicker" data-width="172" title="请选择" data-size="6">
                <volist name="SalesRoles" id="vo">
                  <option value="{$vo.nickname}">{$vo.nickname}</option>
                </volist>
              </select>
            </div>
          </div>
          <!-- <div class="edit_items">
            <label class="edit_label">项目经理：</label>
            <div class="edit_info">
              <select name="ProjectRole" class="selectpicker" data-width="172" title="请选择" data-size="6">
                <volist name="ProjectRoles" id="vo">
                  <option value="{$vo.uid}">{$vo.nickname}</option>
                </volist>
              </select>
            </div>
          </div> -->
          <div class="edit_items">
            <label class="edit_label">产品经理：</label>
            <div class="edit_info">
              <select name="ProductRole" class="selectpicker" data-width="172" title="请选择" data-size="6">
                <volist name="ProductRoles" id="vo">
                  <option value="{$vo.nickname}">{$vo.nickname}</option>
                </volist>
              </select>
            </div>
          </div>
          <div class="edit_items">
            <label class="edit_label">实施经理：</label>
            <div class="edit_info">
              <select name="TechRole" class="selectpicker" data-width="172" title="请选择" data-size="6">
                <volist name="TechRoles" id="vo">
                  <option value="{$vo.nickname}">{$vo.nickname}</option>
                </volist>
              </select>
            </div>
          </div>
          <div class="edit_items">
            <label class="edit_label">开发经理：</label>
            <div class="edit_info">
              <select name="DevRole" class="selectpicker" data-width="172" title="请选择" data-size="6">
                <volist name="DevRoles" id="vo">
                  <option value="{$vo.nickname}">{$vo.nickname}</option>
                </volist>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="edit_title">其他信息</div>
      <div class="edit-box remarks">
        <div class="cell">
          <div class="edit_items">
            <label class="edit_label">备注：</label>
            <div class="edit_info">
              <textarea name="remark" style="width: 200px;height: 150px;"></textarea>
            </div>
          </div>
          <div class="edit_btn">
            <span class="add-btn" data-index="1" data-sign="remarks">+</span>
          </div>
        </div>
      </div>
      <div class="edit-box uploadWrap">
        <div class="cell">
          <div class="edit_items">
            <label class="edit_label">附件上传：</label>
            <div class="edit_info">
                <input type="file" name="accessory" >
            </div>
          </div>
          <div class="edit_btn">
            <span class="add-btn" data-index="1" data-sign="upload">+</span>
          </div>
        </div>
      </div>
      <div class="edit_btn action_btn">
        <input type="hidden" name="id" value="{$info.id|default=''}">
        <button class="btn submit-btn"  type="submit">确 定</button>
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
      </div>
    </form>
  </div>

</block>
<block name="script">
  <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
  <script src="__STATIC__/bootstrap/js/bootstrap-select.min.js"></script>
  <script src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  <script type="text/javascript" src="__JS__/artTemplate.js"></script>
  <script id="list1" type="text/html">
    {{if sign == 'remarks'}}
    <div class="cell">
      <div class="edit_items">
        <label class="edit_label">备注{{index+1}}：</label>
        <div class="edit_info">
          <textarea name="data1[{{index}}][remark]"></textarea>
        </div>
      </div>
      <div class="edit_btn">
        {{if index < 3}}
        <span class="add-btn" data-index="{{index+1}}" data-sign="remarks">+</span>
        {{/if}}
        <span class="del-btn" data-index="{{index+1}}" data-sign="remarks">-</span>
      </div>
    </div>
    {{else}}
    <div class="cell">
      <div class="edit_items">
        <label class="edit_label">附件上传：</label>
        <div class="edit_info">
          <div class="upload">
            <span class="tips">点击上传图片</span>
            <input type="file" name="data2[{{index}}]['accessory']" class="uploadFile">
          </div>
        </div>
      </div>
      <div class="edit_btn">
        {{if index < 3}}
        <span class="add-btn" data-index="{{index+1}}" data-sign="upload">+</span>
        {{/if}}
        <span class="del-btn" data-index="{{index+1}}" data-sign="upload">-</span>
      </div>
    </div>
    {{/if}}
  </script>
  <script type="text/javascript">
    $(function () {
      $('.side-sub-menu').find('a[href="{:U('contract/contract_transfer')}"]').closest('li').addClass('current');

      // 日期插件
      $('.form_datetime').datetimepicker({
        format: 'yyyy-mm-dd',
        language: "zh-CN",
        minView: 2,
        autoclose: true,
        todayBtn: true
      });

      $(".edit-box").on('change', '.uploadFile', function () {
        var objUrl = getObjectURL(this.files[0]);//获取文件信息
        if (objUrl) {
          $(this).parent().find('img').remove();
          $(this).parent().find('.tips').hide();
          $(this).parent().append("<img src=\"" + objUrl + "\" alt='预览'/>");
        }
      });

      function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) {
          url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }

      // 绑定添加信息点击事件
      $('.edit-box').on('click', '.add-btn', function () {
        var index = $(this).data('index'), sign = $(this).data('sign');
        $(this).parent().hide();
        var html = template('list1', {sign: sign, index: index});
        if (sign == 'charge') {
          $('.fee').append(html);
          // $('select.product_list').selectpicker('refresh');
           // 日期插件
          // $('.form_datetime').datetimepicker({
          //   format: 'yyyy-mm-dd',
          //   language: "zh-CN",
          //   minView: 2,
          //   autoclose: true,
          //   todayBtn: true
          // });
        } else if (sign == 'remarks') {
          $('.remarks').append(html);
        } else {
          $('.uploadWrap').append(html);
        }
      });

      // 添加删除事件
      $('.edit-box').on('click', '.del-btn', function () {
        var index = $(this).data('index'), sign = $(this).data('sign');

        let parant = '';
        if (sign == 'charge') {
          parant = $('.fee').find(".cell").eq(index - 2);
        } else if (sign == 'remarks') {
          parant = $('.remarks').find(".cell").eq(index - 2);
        } else {
          parant = $('.uploadWrap').find(".cell").eq(index - 2);
        }

        parant.find('.edit_btn').show();
        $(this).parents('.cell').remove();
      });

      $("#customer").change(function () {
        var project_id = $(this).val();
        // console.log(project_id);
        // Ajax提交数据
        // return;
        $.ajax({
          url: "{:U('Contract/getProjectByCustomer')}",    // 提交到controller的url路径
          type: "post",    // 提交方式
          data: {"customer": project_id},  // data为String类型，必须为 Key/Value 格式。
          dataType: "json",    // 服务器端返回的数据类型
          success: function (data) {
            // console.log(data);
            var html = ``;
            if (data) {
                $.each(data,function(i,item){
                  html += `<option value="${item.id}">${item.project_name}</option>`;
          　　});
            }
            $('#project').html(html).selectpicker('refresh');
            $('#contract_code').html('<option disabled>没有数据</option>').selectpicker('refresh');

            $("#contract_fee").val('');
            $('#project_type').val('');
            $("#project_productlist").val('');
            $("#project_discribe").val('');
          // console.log(html);
            // $("#customer").val(data.customer);
            // $("#contract_code").val(data.contract_code);
            // if (data.project_type == 1) {
            //   $("#project_type").val('购物中心');
            // } else if (data.project_type == 2) {
            //   $("#project_type").val('商超');
            // } else if (data.project_type == 3) {
            //   $("#project_type").val('政府');
            // } else {
            //   $("#project_type").val('其他');
            // }
            // $("#project_discribe").val(data.discribe);
            // $("#province").val(data.province);
            // $("#project_productlist").val(data.contract_productlist);
            // $("#contract_fee").val(data.contract_fee);
          },
        });
      });

      $("#project").change(function () {
        var project_id = $(this).val();
        console.log(project_id);
        // Ajax提交数据
        // return;
        $.ajax({
          url: "{:U('Contract/getProjectMess')}",    // 提交到controller的url路径
          type: "post",    // 提交方式
          data: {"project_id": project_id},  // data为String类型，必须为 Key/Value 格式。
          dataType: "json",    // 服务器端返回的数据类型
          success: function (data) {
            console.log(data);
            var html = ``;
            if (data) {
              $.each(data,function(i,item){
                  html += `<option value="${item.contract_code}">${item.contract_code}</option>`;
          　　});
            }
            $('#contract_code').html(html).selectpicker('refresh');

            $("#contract_fee").val('');
            $('#project_type').val('');
            $("#project_productlist").val('');
            $("#project_discribe").val('');
            // $("#project_type").val(data.customer);
            // $("#customer").val(data.customer);
            // $("#contract_code").val(data.contract_code);
            // if (data.project_type == 1) {
            //   $("#project_type").val('购物中心');
            // } else if (data.project_type == 2) {
            //   $("#project_type").val('商超');
            // } else if (data.project_type == 3) {
            //   $("#project_type").val('政府');
            // } else {
            //   $("#project_type").val('其他');
            // }
            // $("#project_discribe").val(data.discribe);
            // $("#province").val(data.province);
            // $("#project_productlist").val(data.contract_productlist);
            // $("#contract_fee").val(data.contract_fee);
          },
        });
      });

      $("#contract_code").change(function () {
        var project_id = $(this).val();
        console.log(project_id);
        // Ajax提交数据
        // return;
        $.ajax({
          url: "{:U('Contract/getContractMessByContractId')}",    // 提交到controller的url路径
          type: "post",    // 提交方式
          data: {"contract_code": project_id},  // data为String类型，必须为 Key/Value 格式。
          dataType: "json",    // 服务器端返回的数据类型
          success: function (data) {
            console.log(data);
            $("#project_type").val(data.project_type);
            $("#project_discribe").val(data.discribe);
            // $("#province").val(data.province);
            $("#project_productlist").val(data.contract_productlist);
            $("#contract_fee").val(data.contract_fee);
          },
        });
      });
    });
  </script>
</block>
