<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$info['id']?'编辑':'新增'}产品</h2>
    </div>
    <form action="__SELF__" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">产品名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="product_name" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">版本号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="product_versions" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">产品类型</label>
            <div class="controls">
                <select name="product_type">
                    <option value="软件">软件</option>
                    <option value="硬件">硬件</option>
                    <option value="服务">服务</option>
                    <option value="耗材">耗材</option>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">负责人</label>
            <div class="controls">
                <select name="charge_person">
                    <volist name="devs" id="vo">
                        <option value="{$vo.uid}">{$vo.nickname}</option>
                    </volist>
                </select>
                <!-- <input type="text" class="text input-large" name="charge_person" value=""> -->
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">联系电话</label>
            <div class="controls">
                <input type="mobile" class="text input-large" name="link_phone" value="">
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        // Think.setValue("type", {$info.type|default=0});
        // Think.setValue("group", {$info.group|default=0});
        //导航高亮
        $('.side-sub-menu').find('a[href="{:U('Product/index')}"]').closest('li').addClass('current');
    </script>
</block>
