<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>产品管理</h2>
    </div>

    <div>
        <button class="btn" id="action_add" url="{:U('product/add')}">新 增</button>
       <!--  <button class="btn ajax-post" target-form="ids" url="{:u('setstatus',array('status'=>1))}" >启 用</button>
        <button class="btn ajax-post" target-form="ids" url="{:u('setstatus',array('status'=>0))}">禁 用</button> -->
        <button class="btn ajax-post confirm" target-form="ids" url="{:U('delete',array('status'=>-1))}">作 废</button>
    </div>
    <!-- 数据列表 -->
    <div class="data-table">
<table class="">
    <thead>
        <tr>
        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
        <th>产品编号</th>
        <th>产品名称</th>
        <th>产品类型</th>
        <th>版本号</th>
        <th>负责人</th>
        <th>联系电话</th>
        <th>状态</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>更新人</th>
        <th>更新时间</th>
        </tr>
    </thead>
    <tbody>
        <volist name="product" id="vo">
        <tr>
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
            <td class="">{$vo.product_code}</td>
            <td class="">{$vo.product_name}</td>
            <td class="">{$vo.product_type}</td>
            <td class="">{$vo.product_versions}</td>
            <td class="">{$vo.charge}</td>
            <td class="">{$vo.link_phone}</td>
            <if condition="$vo.status eq 1">
                <td class="">正常</td>
            <elseif condition="$vo.status eq 2"/>
                <td class="">开发中</td>
            <elseif condition="$vo.status eq 3"/>
                <td class="">作废</td>
            </if>
            <td class="">{$vo.creator}</td>
            <td class="">{$vo.create_time}</td>
            <td class="">{$vo.uptor}</td>
            <td class="">{$vo.update_time}</td>
            
        </tr>
        </volist>
    </tbody>
    </table> 
        
    </div>
    <!-- 分页 -->
    <div class="page">{$_page}</div>
    <!-- /分页 -->

</block>
<block name="script">
<script type="text/javascript">
$(function(){
    $("#action_add").click(function(){
        window.location.href = $(this).attr('url');
    })
})
</script>
</block>